certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
h5py==2.7.1
idna==2.6
Keras==2.1.4
matplotlib==2.1.2
networkx==2.1
numpy==1.14.1
opencv-python==3.4.0.12
parmap==1.5.1
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
Theano==1.0.1
tqdm==4.19.5
urllib3==1.22
